*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, var(--body-bg-shadow) 0, var(--grey-1) 20%) no-repeat bottom;
  color: var(--text-color);
  font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1em;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

body.loaded {
  overflow: auto;
}

html {
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NotoSerifSC", -apple-system, "Microsoft YaHei", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 1.25rem 0 0.9375rem;
}

a {
  border: none;
  color: currentColor;
  outline: 0;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

li {
  list-style: none;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  zoom: 1;
}
/* 登录框 注册框 忘记密码框 */
.float-right {
  float: right;
}
.mt-7 {
  margin-top: 28px !important;
}
.mt-10 {
  margin-top: 40px !important;
}

.login-container {
  background: var(--grey-0) !important;
}
.login-wrapper .v-label,
.login-wrapper .theme--light.v-icon,
.theme--light .v-input input,
.colorFlag {
  color: var(--grey-6) !important;
}
.login-tip {
  color: #333;
  font-size: 0.875rem;
}

.login-tip span {
  cursor: pointer;
}

.send-wrapper {
  display: flex;
  align-items: center;
}

@media (min-width: 760px) {
  .login-container {
    padding: 1rem;
    border-radius: 4px;
    height: 500px;
  }
  .login-wrapper {
    padding: 3.5rem 1.5rem 0 1.5rem;
  }
}

@media (max-width: 759px) {
  .login-container {
    padding: 1rem;
    border-radius: 4px;
    height: 100vh;
    width: 100vw;
  }
  .login-wrapper {
    padding: 18vh 0.5em 0 0.5rem;
  }
}

/* 菜单栏 */
#nav .menu .submenu .subitem.active,
#nav .menu .submenu .subitem:hover,
#sidebar .tab .item.active,
#sidebar .tab .item:hover,
.overview .menu .item.active {
  color: var(--grey-0);
  background-image: linear-gradient(to right, var(--color-pink) 0, var(--color-orange) 100%);
  box-shadow: 0 0 0.75rem var(--color-pink-a3);
}

.inner {
  margin: 0 auto;
  width: 100%;
}

/* 代码块 */
.hljs {
  background: #282c34 !important;
}

pre.hljs code {
  display: block !important;
  margin: 0 10px !important;
  overflow-x: auto !important;
}

/* 首页文章卡片 */
body.loaded #main .wrap,
body.loaded #sidebar .panel.active {
  -webkit-animation: slideUpBigIn 0.5s;
  animation: slideUpBigIn 0.5s;
}

.overview .menu .item .submenu,
body.loaded #brand .pjax {
  -webkit-animation: slideDownIn 0.3s;
  animation: slideDownIn 0.3s;
}

blockquote {
  border-left: 0.25rem solid var(--grey-4);
  color: var(--grey-6);
  margin: 1.25rem 0;
  padding: 0.625rem 1.25rem;
}

/* 全局颜色 */
:root {
  --comment-color: #f1f2f3;
  --grey-0: #fff;
  --grey-1: #fdfdfd;
  --grey-2: #f7f7f7;
  --grey-3: #eff2f3;
  --grey-4: #ccc;
  --grey-5: #999;
  --grey-6: #666;
  --grey-7: #333;
  --grey-8: #222;
  --grey-9: #000;
  --grey-1-a0: rgba(253, 253, 253, 0);
  --grey-1-a7: rgba(253, 253, 253, 0.7);
  --grey-1-a5: rgba(253, 253, 253, 0.5);
  --grey-1-a3: rgba(253, 253, 253, 0.3);
  --grey-9-a1: rgba(0, 0, 0, 0.1);
  --grey-9-a5: rgba(0, 0, 0, 0.5);
  --grey-2-a0: rgba(247, 247, 247, 0);
  --color-pink-light: #ffe6fa;
  --color-cyan-light: #e3fdf5;
  --color-red: #e9546b;
  --color-pink: #ed6ea0;
  --color-orange: #ec8c69;
  --color-yellow: #eab700;
  --color-green: #0a7426;
  --color-aqua: #3e999f;
  --color-blue: #38a1db;
  --color-purple: #9d5b8b;
  --color-grey: #869194;
  --color-red-a1: rgba(233, 84, 107, 0.1);
  --color-red-a3: rgba(233, 84, 107, 0.3);
  --color-pink-a3: rgba(237, 110, 160, 0.3);
  --color-pink-light-a3: rgba(255, 230, 250, 0.3);
  --color-pink-light-a5: rgba(255, 230, 250, 0.5);
  --color-pink-light-a7: rgba(255, 230, 250, 0.7);
  --body-bg-shadow: var(--grey-2);
  --box-bg-shadow: var(--grey-9-a1);
  --text-color: var(--grey-7);
  --header-text-color: var(--grey-0);
  --primary-color: var(--color-red);
  --nav-bg: linear-gradient(-225deg, var(--color-cyan-light) 0, var(--color-pink-light) 100%);
}

/* 黑夜颜色 */
[theme="dark"]:root {
  --comment-color: var(--grey-1);
  --grey-0: #222;
  --grey-1: #21252b;
  --grey-2: #363636;
  --grey-3: #444;
  --grey-4: #666;
  --grey-5: #aaa;
  --grey-6: #ccc;
  --grey-7: #ddd;
  --grey-8: #eee;
  --grey-9: #f7f7f7;
  --grey-1-a7: rgba(34, 34, 34, 0.7);
  --grey-1-a5: rgba(34, 34, 34, 0.5);
  --grey-1-a3: rgba(34, 34, 34, 0.3);
  --grey-1-a0: rgba(34, 34, 34, 0);
  --grey-9-a1: rgba(51, 51, 51, 0.1);
  --grey-2-a0: rgba(54, 54, 54, 0);
  --color-pink-light: #322d31;
  --color-cyan-light: #2d3230;
  --color-red: rgba(237, 118, 137, 0.9);
  --color-pink: rgba(241, 139, 179, 0.8);
  --color-orange: rgba(240, 163, 135, 0.8);
  --color-yellow: #ffe175;
  --color-green: #86c59d;
  --color-aqua: #97d3d6;
  --color-blue: #9cd0ed;
  --color-purple: #cfacc5;
  --color-grey: #c3c8ca;
  --body-bg-shadow: #000;
  --box-bg-shadow: #000;
  --text-color: var(--grey-5);
  --header-text-color: var(--grey-9);
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-pink-light);
  background-image: -webkit-linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.4) 25%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.4) 0,
    hsla(0, 0%, 100%, 0.4) 75%,
    transparent 0,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
/* 加载更多按钮 */

.load-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-wrapper button {
  background-color: #e9546b;
  color: var(--grey-0) !important;
  background-image: linear-gradient(to right, var(--color-pink) 0, var(--color-orange) 100%);
}

/* 文章目录 */
.contents ol {
  padding: 0 0.125rem 0.3125rem 0.625rem !important;
  text-align: left !important;
}
.contents .toc-list-item {
  font-size: 1em;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-active-link {
  color: #e9546b !important;
}

.is-collapsed {
  display: none !important;
}

/* 加载进度条 */
#nprogress .bar {
  background: var(--primary-color) !important;
}

@keyframes slideUpBigIn {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideDownIn {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

/* 音乐播放器显示隐藏 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
}