<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ican.mapper.TaskMapper">

    <select id="countTaskBackVO" resultType="java.lang.Integer">
        select count(1)
        from t_task
        <where>
            <if test="condition.taskName!=null">
                and task_name like concat('%',#{condition.taskName},'%')
            </if>
            <if test="condition.taskGroup!=null">
                and task_group = #{condition.taskGroup}
            </if>
            <if test="jobSearchVO.status!=null">
                and status = #{condition.status}
            </if>
        </where>
    </select>

    <select id="selectTaskBackVO" resultType="com.ican.model.vo.TaskBackVO">
        select id,task_name,task_group,invoke_target,cron_expression,misfire_policy,concurrent,status,remark,create_time
        from t_task
        <where>
            <if test="condition.jobName!=null">
                and task_name like concat('%',#{condition.taskName},'%')
            </if>
            <if test="condition.jobGroup!=null">
                and task_group = #{condition.taskGroup}
            </if>
            <if test="condition.status!=null">
                and status = #{condition.status}
            </if>
        </where>
        ORDER BY status DESC
        LIMIT #{limit},#{size}
    </select>
</mapper>