<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ican.mapper.UserMapper">


    <select id="countUser" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        t_user u
        <where>
            <if test="condition.keyword != null">
                nickname like concat('%',#{condition.keyword},'%')
            </if>
            <if test="condition.loginType != null">
                and login_type = #{condition.loginType}
            </if>
        </where>
    </select>
    <select id="listUsers" resultType="com.ican.model.vo.UserBackVO">
        SELECT u.id,
        u.avatar,
        u.nickname,
        u.login_type,
        v.ip_address,
        v.ip_source,
        u.status,
        v.create_time,
        v.login_time
        FROM t_user u
        INNER JOIN t_visitor v ON u.visitor_id = v.id
        <where>
            <if test="condition.loginType!=null">
                u.login_type=#{condition.loginType}
            </if>
            <if test="condition.keyword!=null">
                and u.nickname like concat('%',#{condition.keyword},'%')
            </if>
        </where>
        LIMIT #{limit},#{size}
    </select>
</mapper>